<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="IsFileCreated" value="false" />
    <!--DB Set(Report, SNOW AWS#1/#2 DB)-->
    <!--Report DB (Common)-->
    <add key="DataBaseIP" value="172.30.200.49" />
    <add key="DataBasePort" value="3306" />
    <add key="DataBaseName" value="ndmi" />
    <add key="DataBaseID" value="root" />
    <add key="DataBasePW" value="tltmxpa!234" />
    <!--SNOW AWS#1(Temp., Humidity) DB-->
    <add key="DataBaseAwsIP" value="125.61.15.144" />
    <add key="DataBaseAwsPort" value="5432" />
    <add key="DataBaseAwsName" value="weather" />
    <add key="DataBaseAwsID" value="weather" />
    <add key="DataBaseAwsPW" value="weather00" />
    <!--SNOW: new-snow Information(AWS#2)-->
    <add key="DataBaseNewSnowIP" value="125.61.15.144" />
    <add key="DataBaseNewSnowPort" value="5432" />
    <add key="DataBaseNewSnowName" value="mospa_sbb" />
    <add key="DataBaseNewSnowID" value="mospa_sbb" />
    <add key="DataBaseNewSnowPW" value="mospa_sbb00" />
    <!--SNOW: AWS interpolation binary path-->
    <add key="AwsDir" value="C:\NDSI\aws" />
    <!--SNOW: GIS file path-->
    <add key="GisFilePath" value="C:\NDSI\gis" />
    <!--SNOW: ENVI IDL path-->
    <add key="IdlFilePath" value="C:\NDSI\envi" />
    <!--GUI Interface Setting-->
    <!--GUI Mode: MODIS_Snow(0) LANDSAT_Drought(1) MODIS_Drought(2)-->
    <add key="Mode" value="0" />
    <add key="AutoFlag" value="false" />
    <add key="LandSatRootDir" value="" />
    <add key="ModisRootDir" value="" />
    <add key="FCSRootDir" value="" />
    <!--Snow Set-->
    <!--SnowMode: 0:NDSI 1:FSC-->
    <add key="SnowMode" value="0" />
    <add key="InPutFilePathMOD03" value="" />
    <add key="InPutFilePathMOD21" value="" />
    <add key="ResultPath" value="Z:\REPORT_DATA\snow" />
    <add key="ReferenceDataPath" value="C:\NDSI\reference" />
    <add key="MinTemperature" value="-3" />
    <add key="MaxTemperature" value="1" />
    <add key="Humidity" value="70" />
    <add key="Building_Temperature" value="0" />
    <add key="Building_Humidity" value="0" />
    <add key="AnimalPlant_Temperature" value="0" />
    <add key="AnimalPlant_Humidity" value="0" />
    <!--LANDSAT Drought Set-->
    <add key="LandSatSatelliteImagePath" value="" />
    <add key="LandSatMaskImagePath" value="C:\NDWI\NDWI\grid" />
    <add key="DamShapeDataPath" value="C:\NDWI\NDWI\shape" />
    <add key="MATLAB_Path" value="C:\NDWI\NDWI" />
    <add key="LandSatResultPath" value="Z:\REPORT_DATA\drought\landsat" />
    <!--MODIS Drought Set-->
    <add key="ModisLandAnalysisResultPath" value="Z:\REPORT_DATA\drought\modis" />
    <add key="MOD11A2InputPath" value="" />
    <add key="MOD13A2InputPath" value="" />
    <add key="ModisAlgorithmPath" value="C:\SDCI\SDCI" />
    <add key="ManualGpmPath" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>